* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    position: fixed;
    width: 100%;
    background: #020617;
    z-index: 1000;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav a {
    color: #e5e7eb;
    text-decoration: none;
}

/* Hero */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 120px 10%;
    gap: 100px;
}

.hero-left img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 6px solid #38bdf8;
    object-fit: cover;
}

.hero-right h1 {
    font-size: 48px;
}

.hero-right span {
    color: #38bdf8;
}

.hero-right h3 {
    margin: 10px 0;
    color: #94a3b8;
}

/* Sections */
section {
    padding: 80px 12%;
}

.about, .skills, .projects, .contact {
    max-width: 1600px;
    margin: auto;
}

.skills .skill-box {
    margin-bottom: 20px;
}

.skill-bar {
    background: #270000;
    height: 10px;
    border-radius: 10px;
}

.skill-bar div {
    background: #38bdf8;
    height: 100%;
    border-radius: 10px;
}

.skill-tags span {
    display: inline-block;
    margin: 10px;
    padding: 8px 18px;
    background: #1e293b;
    border-radius: 20px;
}

/* Projects */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
}

.project-card {
    background: #020617;
    padding: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}









/* -------------------- About / Strengths / Hobbies / Habits -------------------- */
.about {
    max-width: 900px;
    margin: auto;
}

.about p {
    text-align: center;
    margin-bottom: 15px;
}

.about ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.about ul li {
    background: #020617;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.about ul li:hover {
    transform: translateY(-5px);
    background: #020617;
    border: 1px solid #38bdf8;
}

















/* -------------------- About / Strengths / Hobbies / Habits -------------------- */



.about {
    max-width: 1200px;
    margin: auto;
}

.about p {
    text-align: left;
}

/* .about {
    max-width: 900px;               actual codee
    margin: auto;
}

.about p {
    text-align: center;
    margin-bottom: 15px;
} */





.about ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.about ul li {
    background: #020617;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.about ul li:hover {
    transform: translateY(-5px);
    background: #020617;
    border: 1px solid #38bdf8;
}


















/* Modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
}

.modal-content {
    background: #020617;
    padding: 30px;
    max-width: 500px;
    margin: 150px auto;
    border-radius: 15px;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* Contact */
.contact form {
    max-width: 500px;
}

input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
}

/* Button */
.btn {
    padding: 12px 30px;
    background: #38bdf8;
    border: none;
    font-weight: bold;
    border-radius: 30px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

/* Responsive */
@media(max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
}
